# Zombie Apocalypse

The purpose of this project is to determine not only what is needed to survive a zombie apocalpyse but also if there is a location that has the better chance of survival

Virtual Environment Commands

| Command | Linux/Mac | GitBash |
|---------|-----------|---------|
| Create | `python3 -m venv venv` | `python -m venv venv` |
| Activate | `source venv/bin/activate` | `source venv/Scripts/activate` |
| Install | `pip install -r requirements.txt` | `pip install -r requirements.txt` |
| Deactivate | `deactivate` | `deactivate` |

In [1]:
import pandas as pd

In [2]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("kingabzpro/zombies-apocalypse")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.6), please consider upgrading to the latest version (0.3.10).
Path to dataset files: /Users/luckyc/.cache/kagglehub/datasets/kingabzpro/zombies-apocalypse/versions/1

In [3]:
# Read in file
zombies_raw = pd.read_csv('zombies.csv')

In [4]:
zombies_raw.head()

,zombieid,zombie,age,sex,rurality,household,water,food,medication,tools,firstaid,sanitation,clothing,documents
0,1,Human,18,Female,Rural,1,0,Food,Medication,No tools,First aid supplies,Sanitation,Clothing,NaN
1,2,Human,18,Male,Rural,3,24,Food,Medication,tools,First aid supplies,Sanitation,Clothing,NaN
2,3,Human,18,Male,Rural,4,16,Food,Medication,No tools,First aid supplies,Sanitation,Clothing,NaN
3,4,Human,19,Male,Rural,1,0,Food,Medication,tools,No first aid supplies,Sanitation,Clothing,NaN
4,5,Human,19,Male,Urban,1,0,Food,Medication,No tools,First aid supplies,Sanitation,NaN,NaN

In [5]:
# Review the dataframe and see highlevel if any null values
zombies_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   zombieid    200 non-null    int64
 1   zombie      200 non-null    object
 2   age         200 non-null    int64
 3   sex         200 non-null    object
 4   rurality    200 non-null    object
 5   household   200 non-null    int64
 6   water       200 non-null    int64
 7   food        200 non-null    object
 8   medication  200 non-null    object
 9   tools       200 non-null    object
 10  firstaid    200 non-null    object
 11  sanitation  200 non-null    object
 12  clothing    126 non-null    object
 13  documents   66 non-null     object
dtypes: int64(4), object(10)
memory usage: 22.0+ KB

## Cleaning Zombie Data

In [16]:
# filling document column with none - assuming no documents. filling clothing column with none = assuming no clothes
zombies_raw['documents'] = zombies_raw['documents'].fillna('None')
zombies_raw['clothing'] = zombies_raw['clothing'].fillna('None')

In [17]:
# checking that there are no null values
zombies_raw.isnull().any().any()

np.False_

## World Population Dataset

In [9]:
import kagglehub

# Download latest version
world_path = kagglehub.dataset_download("iamsouravbanerjee/world-population-dataset")

print("Path to dataset files:", world_path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.6), please consider upgrading to the latest version (0.3.10).
Path to dataset files: /Users/luckyc/.cache/kagglehub/datasets/iamsouravbanerjee/world-population-dataset/versions/4

In [10]:
world_population_raw = pd.read_csv('world_population.csv')

In [11]:
world_population_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Rank                         234 non-null    int64
 1   CCA3                         234 non-null    object
 2   Country/Territory            234 non-null    object
 3   Capital                      234 non-null    object
 4   Continent                    234 non-null    object
 5   2022 Population              234 non-null    int64
 6   2020 Population              234 non-null    int64
 7   2015 Population              234 non-null    int64
 8   2010 Population              234 non-null    int64
 9   2000 Population              234 non-null    int64
 10  1990 Population              234 non-null    int64
 11  1980 Population              234 non-null    int64
 12  1970 Population              234 non-null    int64
 13  Area (km²)                   234 non-null    int64
 14  Density (per km²)            234 non-null    float64
 15  Growth Rate                  234 non-null    float64
 16  World Population Percentage  234 non-null    float64
dtypes: float64(3), int64(10), object(4)
memory usage: 31.2+ KB

In [20]:
# Removing columns not needed
cols_to_drop = ['CCA3', 'Capital','2020 Population', '2015 Population', '2010 Population', '2000 Population', '1990 Population', '1980 Population', '1970 Population']

world_population_clean = world_population_raw.drop(columns=cols_to_drop)

In [21]:
world_population_clean.head()

,Rank,Country/Territory,Continent,2022 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,Afghanistan,Asia,41128771,652230,63.0587,1.0257,0.52
1,138,Albania,Europe,2842321,28748,98.8702,0.9957,0.04
2,34,Algeria,Africa,44903225,2381741,18.8531,1.0164,0.56
3,213,American Samoa,Oceania,44273,199,222.4774,0.9831,0.00
4,203,Andorra,Europe,79824,468,170.5641,1.0100,0.00

In [32]:
# Sorting world_population by growth rate
world_population_clean_sorted = world_population_clean.sort_values(by=['2022 Population'], ascending=False)

In [33]:
world_population_clean_sorted.head()

,Rank,Country/Territory,Continent,2022 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
41,1,China,Asia,1425887337,9706961,146.8933,1.0000,17.88
92,2,India,Asia,1417173173,3287590,431.0675,1.0068,17.77
221,3,United States,North America,338289857,9372610,36.0935,1.0038,4.24
93,4,Indonesia,Asia,275501339,1904569,144.6529,1.0064,3.45
156,5,Pakistan,Asia,235824862,881912,267.4018,1.0191,2.96